<section>
  <div class='review-container'>
    <figure>
      <img src="/assets/images/social/profile.jpg" alt="">
    </figure>

    <p>About time! Love this place. Can't wait for the cold weather to pass and hang out in the summer. They did a great
      job at this place. It's open for all ages to have a good time. The concept is amazing. There should a yelp elite
      party here.
      Great food.Awesome service. Love the open concept. WOW!!!!!! so freaking great to have this in our town...
    </p>
  </div>

  <div class='rating-container'>
    <div class='rating'>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
    </div>
    <p>06/14/2020</p>
  </div>
</section>
