@import "../../../scss/styles.scss";

section {
  align-items: center;
  display: flex;
  height: 30%;
  justify-content: center;
  padding: 0 10rem;

  @include media-breakpoint-down(md) {
    padding: 0 5rem;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 1rem;
    height: auto;
  }

  >p {
    color: $foreground;
    font-size: $font-small;
    line-height: 2rem;
  }
}
