@import "../../../scss/styles.scss";

section {
  background-color: $primary;
  height: $height-medium;
  padding: 1rem;

  >header {
    >p {
      color: $foreground;
      font-size: $font-regular;
      margin: 0;
    }
  }
}
