@import "../../../../scss/styles.scss";

section {
  background-image: url(/assets/images/drink.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: $height-medium;
}
