// colors
$primary: #DEBF3D;
$secondary: #447AAC;
$accent: #AAC8D6;

$foreground: #262D3C;
$foreground-rgba: rgba(38, 45, 60, .7);
$background: #FAFAFB;

// fonts
$font-small: calc(1rem + .75vmin);
$font-regular: calc(2rem + 2vmin);
$font-large: calc(4rem + 3vmin);

// sizes
$height-large: 50rem;
$height-medium: 25rem;
