
// colors
$primary: #DEBF3D;
$secondary: #447AAC;
$accent: #AAC8D6;

$foreground: #262D3C;
$foreground-rgba: rgba(38, 45, 60, .7);
$background: #FAFAFB;

// fonts

// sizes
$height-large: 50rem;
$height-medium: 25rem;
