@import "../../../scss/styles.scss";

section {
  align-items: center;
  background-image: url(/assets/images/blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: $height-medium;
  padding: 1rem;
  position: relative;

  >header {
    position: relative;
    z-index: 1;

    >p {
      color: $background;
      font-size: 4rem;
      margin: 0;
      text-align: center;
    }
  }

  >.overlay {
    background-color: $foreground-rgba;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  >.featured {
    background-color: $accent;
    bottom: 0;
    color: $background;
    font-size: 1.5rem;
    margin: 0;
    padding: .5rem;
    position: absolute;
    right: 0;
  }
}
